.meme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 8rem;
}

.meme-button {
  grid-column: 1 / -1;
  background-color: rgb(255, 115, 0);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin: 0rem 1rem;
}

.meme-img {
  max-height: 600px;
  max-width: 800px;
}
