.navbar {
  background-color: rgb(255, 115, 0);
  color: white;
  display: flex;
  align-items: center;
  padding: 0.3rem 1.7rem;
  height: 80px;
  font-weight: bold;
}

.nav-logo {
  height: 100%;
}

.meme-title {
  margin-left: 1rem;
  margin-right: auto;
}
